.gradle
/build/
out/
bin/
.idea/
*.iml
.sts4-cache/
*.iws

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
build
target

.DS_Store

# ignore resources, are downloaded via a gradle task from micronaut_docs
src/main/docs/resources/css/highlight/*.css
src/main/docs/resources/css/highlight/*.png
src/main/docs/resources/css/highlight/*.jpg
src/main/docs/resources/css/*.css
src/main/docs/resources/img/*.svg
src/main/docs/resources/js/*.js
src/main/docs/resources/style/*.html
