<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
<!--    <logger name="example" level="trace" />-->
<!--    <logger name="org.hibernate.SQL" level="trace" />-->
<!--    <logger name="org.hibernate.type" level="trace" />-->
<!--    <logger name="io.micronaut.http.client" level="trace" />-->
<!--    <logger name="io.micronaut.context.condition" level="trace" />-->

</configuration>
