<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Include source line numbers to make diagnosing AP/runtime interactions easier. -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="io.micronaut.context" level="WARN" />
    <logger name="io.micronaut.context.lifecycle" level="WARN" />
    <logger name="io.micronaut.context.DefaultBeanContext" level="WARN" />
</configuration>
